*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

html {
    background-color: black;
}

body{
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: rgba(69, 69, 69, 1);

}

.container {
    
    width: 100vw;
    height: 100vh;
    
    background-color: rgb(210, 26, 26);

    padding: 0px;
    gap: 0px;


    display: flex;
    flex-wrap: wrap;

    align-items: flex-start;
    align-content: flex-start;

}

.option-bar{
    height: 100px;
    width: 400px;
    background-color: antiquewhite;

}