*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;

    font-size: 15px;
}

/* remove button styling*/
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}


html {
    background-color: black;
}

body{
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;

    background-color: rgba(69, 69, 69, 1);

    box-sizing: border-box;

}

.wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {

    width: 100vw;
    height: 100vh;
    
    cursor: crosshair;

    background-color: black;

    padding: 0px;
    gap: 0px;

    display: flex;
    flex-wrap: wrap;

    align-items: flex-start;
    align-content: flex-start;

    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.473);

    transition: transform 300ms, width 300ms, height 300ms;

}
  

.option-bar{
    z-index: 1;
    height: 80px;
    width: 460px;
    background-color: antiquewhite;

    flex-shrink: 0;

    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;

    margin-bottom: 10px;
    border-radius: 20px;

    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.473);
}

.option-bar-top{
    z-index: 1;
    height: 80px;
    width: 460px;
    background-color: antiquewhite;

    flex-shrink: 0;

    display: flex;

    justify-content: space-evenly;
    align-items: center;

    margin-top: 10px;
    border-radius: 20px;

    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.473);


}

.color {
    width: 40px;
    height: 40px;
    background-color: blue;
    border-radius: 10px;

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.198);

    transition: transform 100ms;
}

.color:hover {
    transform: scale(1.1);    
}
.color:active {
    transform: scale(0.9);    
}



.color.red{
    background-color: red;
}
.color.blue{
    background-color: blue;
}
.color.black{
    background-color: black;
}
.color.custom{
    background-color: white;
}





input{
    width: 60px;
}